<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(ViewBag.TextContent))
{
    <form>              
        <button type="button" onclick="pauseh()">Pause Speech</button>
        <button type="button" onclick="resume()">Resume Speech</button>
    </form>

}

@section Scripts {
    <script src="~/js/Audioplayer.js"></script>
}
<script>

    function pause() {
        responsiveVoice.pause();
    }

    function resume() {
        responsiveVoice.resume();
    }
</script>
    
