
<div id="player">
    <h2 id="song-name">Text-to-Speech</h2>
    <p id="artist">ResponsiveVoice TTS</p>
    <button onclick="pause()">Pause</button>
    <button onclick="resume()">Resume</button>
    <audio controls id="audio-player"></audio>
    
</div>


@if (ViewBag.ErrorMessage != null)
{
    <div style="color: red;">
        <strong>Error:</strong> @ViewBag.ErrorMessage
    </div>
}



@section Scripts {   
 
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

    <script>
        
        $(document).ready(function () {
            var extractedText = '@ViewBag.TextContent'; 

            if (extractedText) {
                
                responsiveVoice.speak(extractedText, "US English Female");
            }
        });


        function pause() {
            responsiveVoice.pause();
        }
        function resume() {
            responsiveVoice.resume();
        }
    </script>
}
