@*
  -  basic structure of the mp3 player with HTML ONLY (Done) CSS (Done) js (almost done)
  -  implement the functionality of start, pause and resume before moving to the next step (Done)
  -  when the play button is pressed change it with js to pause button (Done) 
  -  connect the play and pause buttons from responsivevoice API 
  -  remove the extracted text from the ExtracText.cshtml file
*@
<h1>Testing Player</h1>


<div id="player">
    <h2 id="song-name">Song Name</h2>
    <p id="artist">Artist</p>    
    <audio id="audio-player" controls></audio>
</div>


@section Scripts {
    <script src="~/js/Player.js"></script>
}



