@*
  -  basic structure of the mp3 player with HTML ONLY (Done)
  -  connect the play and pause buttons from responsivevoice API
  -  remove the extracted text from the ExtracText.cshtml file
  -
*@
<h1>Testing Player</h1>

<div id="main" class="container">    
    <div id="controls">
        <button id="previous" onclick="prevSong()">
            <i class="fas fa-step-backward"></i>
        </button>
        <button id="play">
            <i class="fas fa-solid fa-play"></i>
        </button>
        <button id="next" onclick="nextSong()">
            <i class="fas fa-step-forward"></i>
        </button>
    </div>
</div>



